/**********************
*
* Author: Alex Groat
* Date: 18/10/2021
* Github: https://github.com/AlexGroat/weather-dashboard
***********************/

:root {
    --ash-gray: #AEB4A9;
    --desert-sand: #e0c1b3;
    --pastel-pink: #d89a9e;
    --puce: #c37d92;
    --deep-taupe: #846267;
}

header {
    display: flex;
    margin-top: 5px;
    height: 100px;
    background-color: var(--ash-gray);
}

h1 {
    margin-left: 40%;
    margin-top: 20px;
    color: var(--puce);
}

body {
    background-color: var(--desert-sand);
}

.card-body {
    background-color: var(--puce);
}

#weather {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    
}
